html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
}

.full{
	height: 100%;
	width: 100%;
	display: block;
	align-items: center;
	text-align: center;
}

.tweet-form{
	margin: 0 auto;
	max-width: 400px;
}

.row{
	width: 80%;
	margin: 0 auto;
}

.col-md-5{
	width: 40%;
	margin: 0 auto;
}

.tweet-positif{
	background: lime;
	color: black;
	padding: .8em;
	border: 2px solid green;
}

.tweet-negatif{
	background: red;
	padding: .8em;
	border: 2px solid darkred;
	color: black;
}

.tweet-netral{
	background: lightblue;
	padding: .8em;
	border: 2px solid blue;
	color: black;
}

.kata{
	display: inline;
}

.modal-body{
	align-items: center;
	text-align: left;
}
